<div class="d-flex justify-content-between">
  <h1>
    <%= t(".title") %>
  </h1>
</div>

<div class="container">
  <%= turbo_frame_tag @document_template do %>
    <%= render "form", document_template: @document_template, owners: @owners %>
  <% end %>
</div>
