<!DOCTYPE html>
<html lang="ru">
<style type="text/css">
.doc {
  font-family: sans-serif;
  padding: 1% 0 1% 1%;
  font-size: 7.0pt;
}

.wrapper {
  padding: 0 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 0 3px;
  border: 1px solid #ccc;
}

th {
  padding: 2px 3px;
  border-bottom: 2px solid black;
}

td {
  text-align: right;
}


h1 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

h2 {
  font-size: 1.4em;
  margin: 6px 0 1px;
}

h3 {
  margin: 6px 0 2px;
}

h4 {
  text-align: right;
  margin-bottom: 0;
}

p {
  margin: 2px 0 5px;
}

td.ck-table-border-none {
  border-style: none;
}

</style>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="doc">
<div class="contract" style="page-break-after: always;">
  <div class="wrapper">
    {{content}}
  </div>
</div>
</div>
</body>
</html>
