<!DOCTYPE html>
<html lang="ru">
<style type="text/css">
.doc {
  font-family: sans-serif;
  padding: 1% 0 1% 1%;
  font-size: 12.0pt;
}

.wrapper {
  padding: 0 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td.ck-table-border-none {
  border-style: none;
}

td.ck-table-border-left {
  border-left: 1px solid black;
}

td.ck-table-border-right {
  border-right: 1px solid black;
}

td.ck-table-border-top {
  border-top: 1px solid black;
}

td.ck-table-border-bottom {
  border-bottom: 1px solid black;
}

td.ck-table-border-all {
  border: 1px solid black;
}

</style>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="doc">
<div class="contract" style="page-break-after: always;">
  <div class="wrapper">
    {{content}}
  </div>
</div>
</div>
</body>
</html>
