<!DOCTYPE html>
<html lang="ru">
<style type="text/css">
.doc {
  font-family: sans-serif;
  padding: 1% 0 1% 1%;
  font-size: 8.0pt;
}

.wrapper {
  padding: 0 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 2480px
}

td.ck-table-border-none {
  border-style: none;
}

td.ck-table-border-left {
  border-left: 1px solid black;
}

td.ck-table-border-right {
  border-right: 1px solid black;
}

td.ck-table-border-top {
  border-top: 1px solid black;
}

td.ck-table-border-bottom {
  border-bottom: 1px solid black;
}

td.ck-table-border-all {
  border: 1px solid black;
}

.to-right {
  text-align: right;
}

.to-center {
  text-align: center;
}

th {
  border: 1px solid black;
}

.upcase {
  text-transform: uppercase;
}
</style>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="doc">
<div class="contract" style="page-break-after: always;">
  <div class="wrapper">
    <div class="to-right">
      <table class="ck-table-border-none">
        <tbody>
          <tr>
            <td>
              <strong>Приложение № 1 от {{contract.date}}</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>к договору № {{contract.number}} от {{contract.date}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="to-center">
      <table class="ck-table-border-none">
        <tbody>
          <tr>
            <td>
              <strong>Спецификация оказываемых услуг</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <table>
      <thead>
        <th width="15px">№</th>
        <th colspan="2">Наименование услуги</th>
        <th>Стоимость</th>
        <th width="50px">Сроки</th>
        <th>Сумма</th>
      </thead>
      <tbody>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">1</td>
          <td class="ck-table-border-bottom">Тариф {{offer.title}}</td>
          <td class="ck-table-border-bottom"></td>
          <td class="ck-table-border-all to-center">{{offer.price}}</td>
          <td width="50px" class="ck-table-border-all to-center">{{contract.rent_days}}</td>
          <td class="ck-table-border-all to-center">{{contract.rent_amount}}</td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">2</td>
          <td class="ck-table-border-bottom">Доставка Автомобиля</td>
          <td class="ck-table-border-all to-center" width="30%">{{booking.pickup_lication}}</td>
          <td class="ck-table-border-all to-center"></td>
          <td width="50px" class="ck-table-border-all to-center">{{booking.start_at}}</td>
          <td class="ck-table-border-all to-center"></td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">3</td>
          <td class="ck-table-border-bottom">Прием автомобиля</td>
          <td class="ck-table-border-all to-center" width="30%">{{booking.drop_off_location}}</td>
          <td class="ck-table-border-all to-center"></td>
          <td width="50px" class="ck-table-border-all to-center">{{booking.end_at}}</td>
          <td class="ck-table-border-all to-center"></td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">4</td>
          <td class="ck-table-border-bottom">{{ booking.vip_service.title }}</td>
          <td class="ck-table-border-all" width="30%" style="text-align: center;">-</td>
          <td class="ck-table-border-all to-center">-</td>
          <td class="ck-table-border-all to-center">{{contract.rent_days}}</td>
          <td class="ck-table-border-all to-center">-</td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">5</td>
          <td class="ck-table-border-bottom">Стоимость предоплаты</td>
          <td class="ck-table-border-all to-center" width="30%"> {{booking.prepayment_method}} </td>
          <td class="ck-table-border-all to-center">{{booking.prepayment_amount}}</td>
          <td class="ck-table-border-all to-center">{{booking.start_at}}</td>
          <td class="ck-table-border-all to-center">{{booking.prepayment_amount}}</td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">6</td>
          <td class="ck-table-border-bottom">Стоимость постоплаты</td>
          <td class="ck-table-border-all to-center" width="30%"> {{booking.payment_method}} </td>
          <td class="ck-table-border-all to-center">{{booking.payment_amount}}</td>
          <td class="ck-table-border-all to-center">{{booking.end_at}}</td>
          <td class="ck-table-border-all to-center">{{booking.payment_amount}}</td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">7</td>
          <td class="ck-table-border-bottom">Допустимый лимит по пробегу</td>
          <td class="ck-table-border-bottom"></td>
          <td class="ck-table-border-left ck-table-border-bottom"></td>
          <td class="ck-table-border-top ck-table-border-bottom">{{contract.mileage_limit}}</td>
          <td class="ck-table-border-right ck-table-border-bottom"></td>
        </tr>
        <tr height="75px">
          <td width="15px" class="ck-table-border-all">8</td>
          <td class="ck-table-border-bottom">Стоимость 1 км перепробега</td>
          <td class="ck-table-border-bottom"></td>
          <td class="ck-table-border-left ck-table-border-bottom"></td>
          <td class="ck-table-border-top ck-table-border-bottom">{{car.over_mileage_price}}</td>
          <td class="ck-table-border-right ck-table-border-bottom"></td>
        </tr>

        {% assign number = 8 %}
        {% if contract.services %}
          {% for service in contract.services -%}
           {% assign number = number | plus: 1 % }
            <tr height="75px">
              <td width="15px" class="ck-table-border-all">{{number}}</td>
              <td class="ck-table-border-bottom">{{service.title}}</td>
              <td class="ck-table-border-bottom" width="30%"></td>
              <td class="ck-table-border-all to-center">{{service.price}}</td>
              <td class="ck-table-border-all to-center">{{service.term}}</td>
              <td class="ck-table-border-all to-center">{{service.sum}}</td>
            </tr>
          {% endfor %}
        {% endif %}

        <tr height="75px">
          <td class="ck-table-border-all"></td>
          <td class="upcase ck-table-border-bottom"><strong>Итоговая сумма</strong></td>
          <td class="ck-table-border-bottom"></td>
          <td class="ck-table-border-left ck-table-border-bottom"></td>
          <td class="ck-table-border-top ck-table-border-bottom to-center">{{contract.total amount}}</td>
          <td class="ck-table-border-right ck-table-border-bottom"></td>
        </tr>
      </tbody>
    </table>
    <br>
    <table>
      <tbody>
        <tr height="55px">
          <td class="ck-table-border-all to-center">
            <strong>Ваш менеджер</strong>
          </td>
          <td class="ck-table-border-all to-center">
            {{contract.manager}}
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="to-center">
      <table class="ck-table-border-none">
        <tbody>
          <tr>
            <td>
              <strong>Спецификация Возврата Залога</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <table>
      <tbody>
        <tr>
          <td class="ck-table-border-all">№</td>
          <td class="ck-table-border-all">Сумма залога</td>
          <td class="ck-table-border-all to-center">{{ booking.pledge_amount }}</td>
        </tr>
        <tr>
          <td class="ck-table-border-all">1</td>
          <td class="ck-table-border-all">Дата возврата залога</td>
          <td class="ck-table-border-all to-center">{{ contract.pledge_return_date }}</td>
        </tr>
        <tr>
          <td class="ck-table-border-all">2</td>
          <td class="ck-table-border-all">Способ возврата залога</td>
          <td class="ck-table-border-all to-center">{{ contract.pledge_return_method }}</td>
        </tr>
        <tr>
          <td class="ck-table-border-all">3</td>
          <td class="ck-table-border-all">Реквизиты возврата залога</td>
          <td class="ck-table-border-all to-center">{{ contract.pledage_return_requisites }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</body>
</html>
