<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title", city: @city.title) %></h1>
  <%= link_to t(".back"), admins_city_path(@city), class: "btn btn-primary" %>
</div>

<div class="container">
  <%= render "form", city: @city %>
</div>
