<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title") %></h1>
  <%= link_to t(".new_city"), new_admins_city_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <% if @cities.any?%>
    <%= render @cities %>
  <% else %>
    <p><%= t(".no_cities") %></p>
  <% end %>
</div>
