<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title") %></h1>
  <%= link_to admins_cities_path, class: "btn btn-sm btn-primary", id: "cities-back-link" do %>
    <i class="bi bi-box-arrow-left"></i>
  <% end %>
</div>

<div class="container">
  <%= render "form", city: @city %>
</div>
