<div class="m-1">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <%= link_to document.file.original_filename, office_document_path(document), target: "_blank"%>
        </p>
    </div>
  </div>
</div>
