<div class="d-flex justify-content-between align-items-center">
  <h1>Новый запись технического осмотра</h1>
</div>


<div class="container">
  <%= turbo_frame_tag @car_inspection, class: "car-status-card" do %>
    <%= render "form", car_inspection: @car_inspection, car: @car, owner: @car.owner %>
  <% end %>
</div>
