<div class="additional_service">
  <%= link_to consumable.title_ru, office_car_park_car_consumable_path(@car_park,  @car, consumable), class: "list-group-item list-group-item-action", data: {turbo_frame: "_top"} %>
</div>
