<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title", brand: @brand.title) %></h1>
  <%= link_to t(".back"), admins_brand_path(@brand), class: "btn btn-primary" %>
</div>

<div class="container">
  <%= render "form", brand: @brand %>
</div>
