<div class="card">
  <h5 class="card-header"><%= car_park.title %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= car_park.business_id_number %></h5>
    <p class="card-text">
      <%= car_park.legal_address %>
    </p>
    <p class="card-text">
      <%= car_park.contact_phone %>
  </div>
</div>
