<div class="card">
  <h5 class="card-header">
    <%= link_to car_park.title, office_user_car_park_path(current_office_user, car_park), class: "text-decoration-none" %>
  </h5>
  <div class="card-body">
    <h5 class="card-title"><%= car_park.business_id_number %></h5>
    <p class="card-text">
      <%= car_park.legal_address %>
    </p>
    <p class="card-text">
      <%= car_park.contact_phone %>
  </div>
</div>
