<main class="car-parks container">
  <div class="car-parks__actions">
    <h1><%= t(".title") %></h1>
    <%= button_to t(".new_car_park"), new_office_car_park_path, method: :get %>
  </div>

  <div class="car-parks__list">
    <%= render @car_parks %>
  </div>
</main>
