<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title") %></h1>
  <%= link_to t(".back"), office_root_path, class: "btn btn-outline-primary" %>
</div>

<div class="container">
  <%= render "form", car_park: @car_park %>
</div>
