@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  font-family: "Onest", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import './utils/toastify';
@import './utils/options_dropdown';


@import './components/base_modal';
@import './components/base_table';
@import './components/base_button';
@import './components/error_field';
@import './components/additional_service';
@import './components/rental_rule';
@import './components/page_top';
@import './components/base_input';
@import './components/auth_form';
@import './components/auth_layout';
@import './components/auth_links';
@import './components/code_input';
@import './components/header';
@import './components/user_menu';
@import './components/car_parks';
@import './components/car_parks_card';
@import './components/car_delivery';
@import './components/autopark_change_page';
@import './components/parks_auto_actions';
@import './components/park_settings';
@import './components/park_settings-card';
@import './components/car_redact_page';
@import './components/car_page_layout';
@import './components/car_page_sidebar';
@import './components/car_tariffs_page';
@import './components/car_tarrifs_card';
@import './components/car_status_card';
@import './components/car_photo_page';
@import './components/car_photo_slider';
@import './components/insurance_policy_page';
@import './components/status_card_placeholder';
@import './components/car_inspections_page';


@import 'trix/dist/trix.css';
@import './actiontext.scss';

@import 'car_bookings/index.scss'