<h1><%= t(".title") %></h1>

<div class="list-group">
  <%= link_to t(".brands"), admins_brands_path, class: "list-group-item list-group-item-action"%>
  <%= link_to t(".marks"), admins_marks_path, class: "list-group-item list-group-item-action"%>
</div>
