<%= link_to admins_mark_path(mark), class: "link text-decoration-none" do %>
  <div class="col-sm-6 m-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= mark.title %></h5>
      </div>
    </div>
  </div>
<% end %>
