<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title", mark: @mark.title) %></h1>
  <%= link_to t(".back"), admins_mark_path(@mark), class: "btn btn-primary" %>
</div>

<div class="container">
  <%= render "form", mark: @mark %>
</div>
