<%= turbo_stream.prepend "consumable_logs", @consumable_log %>
<%= turbo_stream.update ConsumableLog.new do %>
  <%= link_to new_office_car_park_car_consumable_consumable_log_path(@car_park, @car, @consumable), class: "status-card-placeholder" do %>
    <div class="status-card-placeholder__inner">
      <svg
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 0.875C8.09441 0.875 0.875 8.09441 0.875 17C0.875 25.9056 8.09441 33.125 17 33.125C25.9056 33.125 33.125 25.9056 33.125 17C33.125 8.09441 25.9056 0.875 17 0.875ZM18.125 11C18.125 10.3787 17.6213 9.875 17 9.875C16.3787 9.875 15.875 10.3787 15.875 11V15.875H11C10.3787 15.875 9.875 16.3787 9.875 17C9.875 17.6213 10.3787 18.125 11 18.125H15.875V23C15.875 23.6213 16.3787 24.125 17 24.125C17.6213 24.125 18.125 23.6213 18.125 23V18.125H23C23.6213 18.125 24.125 17.6213 24.125 17C24.125 16.3787 23.6213 15.875 23 15.875H18.125V11Z"
          fill="#9EA2AD"
        />
      </svg>
      <span>
        Добавить запись
      </span>
    </div>
  <% end %>
<% end %>
