.base-button {
  font-size: 15px;
  border-radius: 16px;
  padding: 16px 18px;
  border: none;
  background: none;
  font-weight: 600;
  text-decoration: none;

  &--info {
    color: white;
    background: rgba(41, 129, 246, 1);
  }
  &--grey {
    color: rgba(19, 23, 27, 1);
    background: rgba(236, 236, 238, 1);
  }

  &--green {
    color: white;
    background: rgb(37, 170, 97);
  }

  &--light {
    color: rgba(19, 23, 27, 1);
    background: white;
    border: 1px solid rgba(216, 222, 228, 1);
  }
  &--sm {
    font-size: 13px;
    border-radius: 12px;
    padding: 10px 12px;
  }
}
