.car-parks {
  // .car-parks__actions

  &__actions {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 32px;
      font-weight: 600;
      color: rgba(17, 17, 20, 1);
    }
    button {
      background: rgba(41, 129, 246, 1);
      color: white;
      border-radius: 10px;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 13px;
    }

    a {
      background: rgba(41, 129, 246, 1);
      color: white;
      border-radius: 10px;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 13px;
      text-decoration: none;
    }
  }

  // .car-parks__list

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 28px;
  }

  // .car-parks__item

  &__item {
  }
}
