.status-card-placeholder {
  width: 100%;
  border: 2px dashed rgba(216, 222, 228, 1);
  max-width: 434px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 212px;
  border-radius: 20px;
  background: transparent;
  text-decoration: none;

  // .stauts-card-placeholder__inner

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    span {
      color: rgba(158, 162, 173, 1);
      font-size: 15px;
      font-weight: 500;
    }
  }
}
