<div class="d-flex justify-content-between align-items-center">
  <h1><%= t(".title") %></h1>
  <%= link_to office_user_car_park_path(current_office_user, @car_park), class: "btn btn-sm btn-outline-primary" do %>
    <i class="bi bi-box-arrow-left"></i>
  <% end %>
</div>


<div class="container">
  <%= render "form", car: @car, user: current_office_user,  owner: @car_park %>
</div>
