<div class="d-flex justify-content-between align-items-center">
  <h1>Новый страховой полис</h1>
</div>


<div class="container">
  <%= turbo_frame_tag @car_insurance, class: "car-status-card" do %>
    <%= render "form", car_insurance: @car_insurance, car: @car, owner: @car.owner %>
  <% end %>
</div>
