<%= turbo_frame_tag "offers_to_select" do %>
  <li class="booking-create__item">
    <span class="booking-create__item-name">Выбор тарифа:</span>
    <div class="base-input">
      <%= select_tag "booking[offer_id]", options_for_select(offers.map { |offer| [offer.title, offer.id] }), class: "form-select" %>
    </div>
  </li>
<% end %>
